/*****************************/
/* FONTS */
/*****************************/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway&display=swap');


/*****************************/
/* VARIABLES */
/*****************************/
:root {
    --sage: #e7f7ec;
    --dark: #222623; 
    --dark-blue: #1F2937;
    --light-blue: #36455b;
    --caramel: #D69461;
    --white: #ffffff;
    --font-2: 'Raleway', sans-serif;

}





/*****************************/
/* HEADER LAYOUT */
/*****************************/

.Header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-items: center;

    font-family: var(--font-2);
}


input {
    background-color: var(--sage);
    border: none;
    width: 100%;

}

input:focus {
    outline: none;
    /* text-align: right; */
}

.input:focus {
    border: none;
}


/* FULL NAME ELEMENT STYLING */

.full-name input {
    font-size: 5rem;
}

.full-name {
    display: flex;
    gap: 1.5rem; 
}


.first-name {
    color: var(--caramel);
}


.last-name {
    color: var(--dark-blue);
}

.last-name, 
.first-name {
    text-transform: uppercase;
}

/* CONTACT DETAILS STYLING */

.contact-details {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content:flex-start;

}

.contact-details input {
    font-size: 1.5rem;
    color: var(--dark-blue);
}

